@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #4B5563;
    --off-white: #F3F4F6;
    --dark-gray: #6B7280;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px
}


.container-center {
    padding: 0rem 1rem;
    max-width: 600px;
    margin: auto;
    text-align: center; 
    color: var(--dark-gray);
}

.input-label{
    display: block;
}

.input-field{
    display: block;
    margin: auto;
    width: 40%;
    padding : 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border:1px solid var(--dark-gray);
    border-radius: 1rem;

}

.link {
    box-sizing: border-box;
    padding: 0.5rem 1rem; 
}

.link-primary { 
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    display: block;
    max-width: 140px;
    margin: auto
} 

table{
    margin: auto;
    margin-top :2.5rem
}

td, th {
    border: 1px solid #ccc;
    /* border-width border-style border-color */
}

.footer {
    padding: 4rem 1rem;
    text-align: center;
    color: var(--primary-color);
    border-top-right-radius: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer .link {
    color: var(--primary-color)
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer ul {
    padding-inline-start: 0px;
}


